body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.search-container {
    margin: 60px auto;
    text-align: center;
}


input[type=url] {
    padding: 10px;
    font-size: 16px;
}

input[type=submit] {
    padding: 10px 20px;
    font-size: 16px;
    width: 200px;
    font-size: large;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}



.parent {
    border: 1px solid black;
    margin: 10px 40px 50px 40px;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    /* border: 1px solid red; */
    /* padding: 1rem 1rem; */
    /* vertical-align: middle; */
  }
  
.box {
    width: calc(40% - 20px);
    margin: 20px 40px 20px 40px;
    padding: 20px;
    border: 1px solid #484343;
    overflow-y: scroll;
    height: 200px; /* Adjust the height as needed */
}